@model CRUDTaller4.Models.Entities.Paquete

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Paquete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasilleroId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasilleroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagenId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportadoraId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportadoraId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMercanciaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMercanciaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaqueteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
